<div class="container">
  <div class="content">
    <div class="column-left">
      <div class="header-left">
        header-left
      </div>
      <div class="main-left">
        main-left
      </div>
    </div>
    <div class="column-right">
      <div class="header-right">
        header-right
      </div>
      <div class="main-right">
        <div class="wrapper">
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
          <div class="items">grid items</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    footer
  </div>
</div>

