.header
  display: grid
  grid-template-columns: repeat(1, 1fr 4fr)
  gap: 0.25em
  //padding-bottom: 0.25em

.content
  display: grid
  grid-template-columns: repeat(1, 1fr 4fr)
  gap: 0.25em
  //padding-bottom: 0.25em

.footer
  display: grid
  background: lightgray
